<div class="jumbotron">
  <h1>ListAssist.</h1>
  <h2>Making it <em>"painlist"</em> to shop.</h2>
    
  
</div>

      <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/items/">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Whole_Foods_Market_logo.svg/1280px-Whole_Foods_Market_logo.svg.png" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/items/">
                    <img class="img-responsive" src="http://jacksonville.com/sites/default/files/imagecache/premium_415_wide_scale/TraderJoe's.jpg" alt="">
                </a>
            
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/items/">
                    <img class="img-responsive" src="http://www.popai.com/Marianos-front-entrance-sig.jpg" alt="">
                </a>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/items/">
                    <img class="img-responsive" src="http://3dprint.com/wp-content/uploads/2014/11/Target-Logo.png" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/items">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Costco_Wholesale.svg/2000px-Costco_Wholesale.svg.png" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/items">
                    <img class="img-responsive" src="http://www.grocerycouponnetwork.com/community/wp-content/uploads/2012/10/jewel-300x133.png" alt="">
                </a>
            
            </div>
        </div>


        <div class="square">
  <div class="col-md-12">
    <table class="panel">
      <tr>
        
      </tr>

      <% @stores.each do |store| %>
      <tr>
    
        <td><%= store.name %></td>
        <td>

          <a href="/stores/<%= store.id %>" class="btn btn-primary">Items</a>
          <a href="/stores/<%= store.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_store/<%= store.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

 <h1>

    <a href="/stores/new" class="btn btn-lg btn-success">Add Your Favorite Stores</a>
  </h1>
